name: Deploy to Cloud Run

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      id: auth
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: "projects/1002195286812/locations/global/workloadIdentityPools/github/providers/my-repo"
        service_account: "my-repo-service-account@certain-sky-479419-n4.iam.gserviceaccount.com"

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Configure Docker to use gcloud
      run: gcloud auth configure-docker us-central1-docker.pkg.dev

    - name: Build & Push Docker Image
      run: |
        IMAGE="us-central1-docker.pkg.dev/certain-sky-479419-n4/cloud-run-repo/app:latest"
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV
        echo "Building image: $IMAGE"
        docker build -t "$IMAGE" .
        docker push "$IMAGE"

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy my-cloudrun-service \
          --image "$IMAGE" \
          --region us-central1 \
          --platform managed \
          --allow-unauthenticated \
          --memory 1Gi \
          --timeout 300
